body {
    background-color: #b7d1c4;
    font-family: Tahoma, Verdana, sans-serif;
}

h1 {
  font-size: 20px;
  text-align: center;
}

h2 {
  font-size: 15px;
}

input[type="text"]
{
    font-size:10px;
}
