body {
    background-color: #EBECFD;
    font-family: Tahoma, Verdana, sans-serif;
}

h1 {
  font-size: 20px;
  text-align: center;
}

h2 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

input[type=text]
{
    font-size:16px;
    font-family: Tahoma, Verdana, sans-serif;
}

input[type=button]
{
    background-color: #6770FE;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Tahoma, Verdana, sans-serif;
}
