body {
    background-color: #EBECFD;
    font-family: 'Tangerine',sans-serif;
}

head {
    background-color: #EBECFD;
    font-family: 'Tangerine',sans-serif;
}

h2 {
  font-size: 16px;
  font-family: 'Tangerine',sans-serif;
}
