body {
    background-color: #EBECFD;
    font-family: 'Tangerine',sans-serif;
}

head {
    background-color: #EBECFD;
    font-family: 'Tangerine',sans-serif;
}

h2 {
  font-size: 16px;
  font-family: 'Tangerine',sans-serif;
}

input[type=text]
{
    font-size: 16px;
    font-family: 'Tangerine',sans-serif;
}

.numberButton
{
    background-color: #BFC9CA;
    border-style: none;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    vertical-align:middle;
    display: inline-block;
    font-size: 16px;
    font-family: 'Tangerine',sans-serif;
    width: 20px;
    height: 20px;
}

.functionButton
{
    background-color: #6699ff;
    border-style: none;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    vertical-align:middle;
    display: inline-block;
    font-size: 16px;
    font-family: 'Tangerine',sans-serif;
    width: 20px;
    height: 20px;
}

table {
  border-style: none;
  width: 100px;
  height: 80px;
}

table td {
  border-style: none;
}

table.no-spacing {
  border-spacing: 0;
  border-collapse: collapse;
}
